<div>
    <h2>Professional Experience</h2>

    <app-work-experience-summary
        [job-title]="'fuck'"
        [company]="'company'"
    />

    <div>
        <app-work-experience-summary
            *ngFor="let experience of experiences; let i as index"
            [job-title]="experience.jobTitle"
            [company]="experience.company"
            [when]="experience.when"
            [location]="experience.location"
            [description]="experience.description"
        />
    </div>
</div>
