.app-core--nav-tab {
    background-color: khaki;
    /* writing-mode: sideways-lr;
    text-orientation: mixed; */
    /* height: 20%; */
    /* flex: 1 1 0; */
    /* width: 0; */
    text-align: center;
    font-size: xx-large;
    border: 1px solid black;
}