app-nav-tab {
    background-color: khaki;

    flex-grow: 1;
    text-align: center;

    font-size: xx-large;
    /* border: 1px solid black; */
    /* overflow: hidden;
    position: relative; */
}

.nav-tab-a {
    background-color: var(--primary-color);
    display: block;

    overflow: hidden;
    position: relative;
}

.active-nav-tab {
    position: relative;
    z-index: 1000;
    overflow: visible;
    height: fit-content;
}