app-root {
    /* background-color: #073B3A; */

    display: block;
    width: 100vw;
}

.app-root--main {
    color: rgb(254, 252, 251);
    background-color: rgb(18, 16, 14);
    /* box-shadow: 10px 10px 10px #79C7C5; */

    /* width: 65%; */
    margin: auto;
}