.app-call-to-action {
    background-color: var(--text-color-light);
}

.app-call-to-action>div {
    width: var(--main-content-width);
    margin: auto;
}

.app-call-to-action--contact {
    color: var(--text-color-dark);
}