.app-hero {
    background-color: var(--text-color-light);

    display: block;
    width: 100vw;
    height: 80vh;
}

.app-hero>div {
    display: flex;
    flex-direction: row;
    width: var(--main-content-width);
    margin: auto;
}

.app-hero--left {
    width: 60%;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    /* justify-content: center */
    /* vertical-align: center; */
}

.app-hero--title {
    color: var(--text-color-dark);

    margin-top: -30px;
}

.app-hero--title--emphasis {
    color: var(--secondary-color);
}

.app-hero--about {
    color: var(--text-color-dark);

    width: 80%;
    padding-top: 32px;
}

.app-hero--right {
    
    /* display: block; */
    /* width: 90%; */
    /* margin: auto; */
}

.app-hero--decorative-block {
    position: absolute;
}

.app-hero--decorative-block-1 {
    background-color: var(--primary-color);
    border-radius: 25px;

    width: 50vw;
    height: 75vh;
    top: -10vh;
    right: -10vw
}

.app-hero--decorative-block-2 {
    background-color: var(--secondary-color-40-percent);
    border-radius: 15px;
    box-shadow:
        10px 10px 25px var(--quaternary-color-40-percent),
        -10px -10px 25px var(--tertiary-color-40-percent);

    width: 25vw;
    height: 25vh;
    top: 50vh;
    transform: translateX(-8vw);
}

.app-hero--decorative-block-3 {
    background-color: var(--tertiary-color-40-percent);
    border-radius: 15px;
    box-shadow:
        10px 10px 25px var(--quaternary-color-40-percent),
        -10px -10px 25px var(--secondary-color-40-percent);

    width: 10vw;
    height: 10vw;
    top: 8vh;
    transform: translateX(5vw);
}

.app-hero--decorative-block-4 {
    background-color: var(--quaternary-color-40-percent);
    border-radius: 15px;
    box-shadow:
        10px 10px 25px var(--secondary-color-40-percent),
        -10px -10px 25px var(--tertiary-color-40-percent);

    width: 40vw;
    height: 50vh;
    top: calc(21.5vh); /* Distance from from top of page to bottom of dec block 3 */
    transform: translateX(25vw);
}

.app-hero--decorative-block-5 {
    background-color: var(--primary-color);
    border-radius: 15px;
    box-shadow:
        10px 10px 25px var(--secondary-color-40-percent) inset,
        -10px -10px 25px var(--tertiary-color-40-percent) inset;

    width: 8em;
    height: 8em;
    top: 30vh;
    transform: translateX(30vw);
}