.app-work-experience {
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.app-work-experience>div {
    display: block;
    width: var(--main-content-width);
    margin: auto;
}

.app-work-experience--summaries {
    display: flex;
    gap: 32px;
}

.app-work-experience--summaries--summary {

}

.app-work-experience--summaries--summary--header {
    display: flex;
}